# Projet _Analyse de données :

Dans ce projet, nous allons effectuer un scrapping sur Google Scholar afin d'extraire des données relatives à une recherche, puis les regrouper dans un tableau exhaustif dans un fichier Excel. Ensuite, nous analyserons ces données en utilisant des outils que nous avons étudiés tels que la régression, l'ACP, l'ANOVA, en commençant par subdiviser le grand tableau en petits tableaux en fonction des colonnes nécessaires.

Nous avons commencé par extraire le plus grand nombre possible de données que nous pouvons recueillir, puis les avons intégrées dans le fichier chercheur.xlsx :

In [1]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\chercheur.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

,Auteur,Universite,Citations totales,Total des citations Depuis 2018,Indice h total,Indice h Depuis 2018,i-index Toutes,i-index Depuis 2018,Nombre de citations par an,Fields,Coauthors,Article Titles,Article_authors,Article_sources,Article_cited_by,Article_published_in
0,Zhi-Hua Zhou,Nanjing University,89025,54870,123,91,442,373,"[0, 11000, 5500, 2750, 8250]",Artificial IntelligenceMachine LearningData Mi...,"['Min-Ling Zhang', 'Yang Yu', 'Songcan Chen', ...","['Top 10 algorithms in data mining', 'Isolatio...","['X Wu, V Kumar, JR Quinlan, J Ghosh, Q Yang, ...","['Knowledge and information systems 14 (1), 1-...","['7461', '5246', '3951', '3750', '3175', '2805...","['2008', '2008', '2012', '2007', '2014', '2006..."
1,Jacob Biamonte,"NASA Ames Research Center, USRA",8824,7321,39,36,66,55,"[0, 2000, 1000, 500, 1500]",quantum algorithmsmachine learningquantum engi...,"['James Daniel Whitfield', 'Ville Bergholm', '...","['Quantum Machine Learning', 'Towards quantum ...","['0 article', 'J Biamonte, P Wittek, N Pancott...","['non disponibles', 'Nature 549 (7671), 195-20...","['3164', '863', '547', '335', '219', '180', '1...","['2017', '2010', '2011', '2014', '2008', '2023..."
2,Peter Wittek,University of Toronto,5960,5407,25,24,46,32,"[0, 1400, 700, 350, 1050]",NaN,"['Sándor Darányi', 'Antonio Acin', 'Patrick Re...","['Quantum machine learning', 'Quantum machine ...","['0 article', 'J Biamonte, P Wittek, N Pancott...","['non disponibles', 'Nature 549 (7671), 195-20...","['3164', '523', '155', '*', '140', '125', '115...","['2017', '2014', '2019', '2018', '2018', '2017..."
3,Nicola Pancotti,Quantum Research Scientist at AWS & California...,3924,3835,9,9,9,9,"[0, 1200, 600, 300, 900]",Quantum DynamicsTensor NetworksQuantum Computing,"['ignacio cirac', 'Seth Lloyd', 'Peter Wittek'...","['Quantum machine learning', 'Neural-network q...","['0 article', 'J Biamonte, P Wittek, N Pancott...","['non disponibles', 'Nature 549 (7671), 195-20...","['3164', '284', '108', '101', '*', '95', '71',...","['2017', '2018', '2019', '2020', '2020', '2016..."
4,Patrick Rebentrost,CQT,13147,9596,28,28,39,37,"[0, 2500, 1250, 625, 1875]",NaN,['Alan Aspuru-Guzik'],"['Quantum machine learning', 'Quantum support ...","['0 article', 'J Biamonte, P Wittek, N Pancott...","['non disponibles', 'Nature 549 (7671), 195-20...","['3164', '1624', '1382', '1208', '995', '756',...","['2017', '2014', '2008', '2014', '2009', '2013..."
5,Mahesh,Affiliation inconnue,21057,13663,10,10,10,10,"[0, 2800, 1400, 700, 2100]",Research on Chemical and Automotive,[],"['Global, regional, and national cancer incide...","['0 article', 'C Fitzmaurice, C Allen, RM Barb...","['non disponibles', 'JAMA oncology 3 (4), 524-...","['6702', '2873', '2358', '2276', '2267', '2009...","['2017', '2009', '2009', '2008', '1998', '2020..."
6,Tom Mitchell,Founders University Professor of Machine Learn...,77517,31293,98,62,285,173,"[0, 7000, 3500, 1750, 5250]",Machine Learningcognitive neurosciencenatural ...,"['Partha Talukdar', 'Marcel Just', 'Andrew McC...",['Combining labeled and unlabeled data with co...,"['0 article', 'A Blum, T Mitchell', 'MI Jordan...","['non disponibles', 'Proceedings of the eleven...","['7461', '7405', '4269', '3605', '*', '2973', ...","['1998', '2015', '2000', '2013', '2001', '1986..."
7,Pramila Shinde,"Assistant Professor, IT, Shah & Anchor Kutchhi...",560,557,2,2,2,2,"[0, 300, 150, 75, 225]",Artificial IntelligenceWeb TechnologyAnalytics,[],['A review of machine learning and deep learni...,"['PP Shinde, S Shah', 'N Zaveri, U Shah, S Tiw...",['2018 Fourth international conference on comp...,"['534', '25', '1', '', '', '', '', '', '', '',...","['2018', '2018', '2016', '2022', '2022', '2020..."
8,Seema Shah,"Director,Head, Computer Engineering Department...",854,748,10,8,10,7,"[0, 340, 170, 85, 255]",BlockchainDistributed ComputingCloud Computing...,"['Pramila Shinde', 'Radhika Chapaneri', 'Kavit...",['A review of machine learning and deep learni...,"['PP Shinde, S Shah', 'S Shah, V Shah, AR Ahme...",['2018 Fourth international conference on comp...,"['534', '67', '44', '29', '27', '26', '23', '1...","['2018', '2011', '2019', '2019', '2011', '2019..."
9,"Issam El Naqa, PhD, FAAPM, FIEEE, FAIMBE","Chair of Machine Learning, H. Lee Moffitt Canc...",26590,16576,70,53,219,186,"[0, 3800, 1900, 950, 2850]",Machine LearningArtificial IntelligenceMedical...,"['Joseph O. Deasy, PhD', 'Jeffrey Bradley', 'R...",['The image biomarker standardization initiati...,"['A Zwanenburg, M Vallières, MA Abdalah, HJWL ...","['Radiology 295 (2), 328-338', 'International ...","['2389', '1182', '1048', '863', '826', '816', ...","['2020', '2010', '2015', '2015', '2010', '2009..."
10,Giuseppe Bonaccorso,Global Head of Data Science - ACM,985,970,7,7,7,7,"[0, 320, 160, 80, 240]",AIMachine LearningDeep LearningData Science,['Rajalingappaa Shanmugamani'],['Machine Learning Algorithms - Second Edition...,"['G Bonaccorso', 'G Bonaccorso', 'G Bonaccorso...","['Packt Publishing', 'Packt Publishing Ltd', '...","['635', '*', '182', '67', '49', '19', '17', '1...","['2018', '2018', '2018', '2020', '2019', '2017..."
11,Foster Provost,"Professor, New York University",32416,12585,68,47,145,98,"[0, 2300, 1150, 575, 1725]",machine learninginformation systemsdata mining...,[],['Data science and its relationship to big dat...,"['0 article', 'F Provost, T Fawcett', 'R Kohav...","['non disponibles', 'Big data 1 (1), 51-59', '...","['2060', '1848', '1720', '1645', '1607', '1425...","['2013', '1998', '2001', '1998', '2013', '2008..."
12,Ron Kohavi,"Technical Fellow and Vice President, Analysis ...",61063,21659,62,42,88,69,"[0, 4200, 2100, 1050, 3150]",Controlled ExperimentsA/B testingMachine Learn...,"['George John', 'Roger Longbotham', 'Alex(Shao...",['A study of cross-validation and bootstrap fo...,"['0 article', 'R Kohavi', 'R Kohavi, GH John',...","['non disponibles', 'Ijcai 14 (2), 1137-1145',...","['16712', '11648', '3706', '3670', '3057', '23...","['1995', '1997', '1994', '1999', '1995', '1996..."
13,Christian Janiesch,TU Dortmund University,4391,3269,30,23,72,47,"[0, 1400, 700, 350, 1050]",Enterprise ComputingBusiness InformaticsBusine...,"['Axel Winkelmann', 'Stefan Schulte', 'Christo...","['Machine learning and deep learning', 'Strate...","['C Janiesch, P Zschech, K Heinrich', 'M Fisch...","['Electronic Markets 31 (3), 685-695', 'Inform...","['1158', '311', '244', '*', '165', '108', '98'...","['2021', '2020', '2020', '2015', '2012', '2012..."
14,Patrick Zschech,Leipzig University,1755,1747,16,16,26,26,"[0, 940, 470, 235, 705]",Business AnalyticsDecision Support SystemsDeep...,"['Kai Heinrich', 'Christian Janiesch', 'Christ...","['Machine learning and deep learning', 'A surv...","['0 article', 'C Janiesch, P Zschech, K Heinri...","['non disponibles', 'Electronic Markets 31 (3)...","['1158', '53', '39', '37', '*', '35', '33', '2...","['2021', '2021', '2021', '2020', '2018', '2020..."
15,Kai Heinrich,Otto-von-Guericke Universität Magdeburg,1619,1589,14,13,21,20,"[0, 880, 440, 220, 660]",AI-based Decision SupportInformation SystemsDa...,['Andreas Schieber'],"['Machine learning and deep learning', 'Stop o...","['C Janiesch, P Zschech, K Heinrich', 'LV Herm...","['Electronic Markets 31 (3), 685-695', 'Intern...","['1158', '39', '39', '33', '33', '28', '25', '...","['2021', '2023', '2021', '2020', '2020', '2020..."
16,Zhiyuan (Brett) Chen,"University of Illinois at Chicago, Google",2891,2213,16,15,19,17,"[0, 420, 210, 105, 315]",Text MiningMachine LearningData MiningStatisti...,"['Bing Liu', 'Arjun Mukherjee', 'Huayi Li', 'G...","['Lifelong Machine Learning: Second Edition', ...","['Z Chen, B Liu', 'Z Chen, B Liu', 'H Li, Z Ch...",['Synthesis Lectures on Artificial Intelligenc...,"['902', '*', '891', '258', '238', '214', '181'...","['2018', '2016', '2014', '2014', '2014', '2014..."
17,Bing Liu,"Distinguished Professor, University of Illinoi...",96511,48494,111,84,309,237,"[0, 9000, 4500, 2250, 6750]",Sentiment AnalysisNatural Language ProcessingD...,"['Philip S. Yu', 'Wynne HSU', 'Arjun Mukherjee...","['Mining and summarizing customer reviews', 'S...","['M Hu, B Liu', 'B Liu', 'X Wu, V Kumar, J Ros...",['Proceedings of the tenth ACM SIGKDD internat...,"['10265', '9526', '*', '7411', '3984', '*', '3...","['2004', '2012', '2008', '2010', '2007', '1998..."

Pour la régression, nous avons choisi de travailler dans un premier temps avec les variables "Citations totales" et "Indice h total", puis avec les variables "Indice h total" et "i-index Toutes" dans un deuxième temps.

# Regression :

In [2]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\regression1.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

    Citations totales  Indice h total
0               88789             123
1                8755              39
2                5925              25
3                3898               9
4               13079              28
5               20999              10
6               77287              98
7                 553               2
8                 846              10
9               26529              70
10                981               7
11              32324              67
12              60981              63
13               4335              30
14               1728              15
15               1599              14
16               2882              16
17              96322             111

In [ ]:
Indice h total et i-index Toutes

In [3]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\reg.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

    Indice h total  i-index Toutes
0              123             442
1               39              66
2               25              46
3                9               9
4               28              39
5               10              10
6               98             285
7                2               2
8               10              10
9               70             219
10               7               7
11              68             145
12              62              88
13              30              72
14              16              26
15              14              21
16              16              19
17             111             309

# Anova

Pour ANOVA , nous avons choisi de travailler dans un premier temps avec les variables "Citations totales" et "fields".

In [4]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\anova1.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

    Citations totales                                             fields
0               88789  Artificial IntelligenceMachine LearningData Mi...
1                8755  quantum algorithmsmachine learningquantum engi...
2                3898   Quantum DynamicsTensor NetworksQuantum Computing
3               20999                Research on Chemical and Automotive
4               77287  Machine Learningcognitive neurosciencenatural ...
5                 553     Artificial IntelligenceWeb TechnologyAnalytics
6                 846  BlockchainDistributed ComputingCloud Computing...
7               26529  Machine LearningArtificial IntelligenceMedical...
8                 981        AIMachine LearningDeep LearningData Science
9               32324  machine learninginformation systemsdata mining...
10              60981  Controlled ExperimentsA/B testingMachine Learn...
11               4335  Enterprise ComputingBusiness InformaticsBusine...
12               1728  Business AnalyticsDecision Support SystemsDeep...
13               1599  AI-based Decision SupportInformation SystemsDa...
14               2882  Text MiningMachine LearningData MiningStatisti...
15              96322  Sentiment AnalysisNatural Language ProcessingD...

# AFC

Pour AFC nous avons choisi de travailler dans un premier temps avec les variables "Universite" et "fields".

In [5]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\affcc.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

,Universite,Fields
0,Nanjing University,Artificial IntelligenceMachine LearningData Mi...
1,"NASA Ames Research Center, USRA",quantum algorithmsmachine learningquantum engi...
2,Quantum Research Scientist at AWS & California...,Quantum DynamicsTensor NetworksQuantum Computing
3,Affiliation inconnue,Research on Chemical and Automotive
4,"Assistant Professor, IT, Shah & Anchor Kutchhi...",Artificial IntelligenceWeb TechnologyAnalytics
5,"Director,Head, Computer Engineering Department...",BlockchainDistributed ComputingCloud Computing...
6,Founders University Professor of Machine Learn...,Machine Learningcognitive neurosciencenatural ...
7,"Chair of Machine Learning, H. Lee Moffitt Canc...",Machine LearningArtificial IntelligenceMedical...
8,Global Head of Data Science - ACM,AIMachine LearningDeep LearningData Science
9,"Professor, New York University",machine learninginformation systemsdata mining...
10,"Technical Fellow and Vice President, Analysis ...",Controlled ExperimentsA/B testingMachine Learn...
11,TU Dortmund University,Enterprise ComputingBusiness InformaticsBusine...
12,Leipzig University,Business AnalyticsDecision Support SystemsDeep...
13,Otto-von-Guericke Universität Magdeburg,AI-based Decision SupportInformation SystemsDa...
14,"University of Illinois at Chicago, Google",Text MiningMachine LearningData MiningStatisti...
15,"Distinguished Professor, University of Illinoi...",Sentiment AnalysisNatural Language ProcessingD...

# ACP

Pour ACP, nous avons choisi de travailler dans un premier temps avec les variables "Citations totales" et "Indice h total" et "i-index Toutes", puis avec les variables "Total des citations Depuis 2018" et "Indice h Depuis 2018" et	"i-index Depuis 2018" , ensuite acec les variables "Citations totales" 	"Total des citations Depuis 2018" 	"Indice h total" 	"Indice h Depuis 2018" 	"i-index Toutes" 	"i-index Depuis 2018".

In [6]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\acp1.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

    Citations totales  Indice h total  i-index Toutes
0               89025             123             442
1                8824              39              66
2                5960              25              46
3                3924               9               9
4               13147              28              39
5               21057              10              10
6               77517              98             285
7                 560               2               2
8                 854              10              10
9               26590              70             219
10                985               7               7
11              32416              68             145
12              61063              62              88
13               4391              30              72
14               1755              16              26
15               1619              14              21
16               2891              16              19
17              96511             111             309

In [7]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\acp3.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

    Total des citations Depuis 2018  Indice h Depuis 2018  i-index Depuis 2018
0                             54870                    91                  373
1                              7321                    36                   55
2                              5407                    24                   32
3                              3835                     9                    9
4                              9596                    28                   37
5                             13663                    10                   10
6                             31293                    62                  173
7                               557                     2                    2
8                               748                     8                    7
9                             16576                    53                  186
10                              970                     7                    7
11                            12585                    47                   98
12                            21659                    42                   69
13                             3269                    23                   47
14                             1747                    16                   26
15                             1589                    13                   20
16                             2213                    15                   17
17                            48494                    84                  237

In [7]:
import pandas as pd

# Spécifiez le chemin du fichier Excel
chemin_du_fichier_excel = r"C:\Users\msi\Desktop\S1\Analyse de BD\GoogleShcolar\acp2.xlsx"

# Chargez le fichier Excel dans un DataFrame pandas
dataframe_excel = pd.read_excel(chemin_du_fichier_excel)

# Affichez les premières lignes du DataFrame pour vérification
dataframe_excel

,Citations totales,Total des citations Depuis 2018,Indice h total,Indice h Depuis 2018,i-index Toutes,i-index Depuis 2018
0,89025,54870,123,91,442,373
1,8824,7321,39,36,66,55
2,5960,5407,25,24,46,32
3,3924,3835,9,9,9,9
4,13147,9596,28,28,39,37
5,21057,13663,10,10,10,10
6,77517,31293,98,62,285,173
7,560,557,2,2,2,2
8,854,748,10,8,10,7
9,26590,16576,70,53,219,186
10,985,970,7,7,7,7
11,32416,12585,68,47,145,98
12,61063,21659,62,42,88,69
13,4391,3269,30,23,72,47
14,1755,1747,16,16,26,26
15,1619,1589,14,13,21,20
16,2891,2213,16,15,19,17
17,96511,48494,111,84,309,237